/**
 * @author Mehrez Labidi <mehrez.labidi@esprit.tn> ESPRIT- 2015-2016
    Created on : 9 déc. 2015, 20:08:53
    Author     : Mehrez
*/
.text-red { display: block;margin-left: 34%; font-size: 14px;    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 700;}  
#Adresses{  
    width: 47%;
    z-index: 1000;
    position:absolute;
    top:0;
    right:0;
}
/*@media screen and (min-width: 1200px) {
    #Adresses {
        margin-top: -43.5% !important;
    }
}
@media screen and (max-width: 1200px)  and (min-width: 992px) {
    #Adresses {
        margin-top: -54.0% !important;
    }
}
@media screen and (max-width: 992px)  and (min-width: 768px) {
    #Adresses {
        margin-top: -49.5% !important;
    }
}*/

@media screen and (max-width: 768px)  and (min-width: 480px) {
    #nomSociete{    margin-top: 10% !important;}
    #espritapp_gestionbundle_cgasociete_nbJourMaxCollecteDonnee,#espritapp_gestionbundle_cgasociete_jourCollecteDonnee{right: -4%!important;position: absolute;top:1%!important;}
    input#espritapp_gestionbundle_cgasociete_datePriseEffet{    width: 123% !important;    margin-left: -15%!important;}
    .form-horizontal .form-group{    height: 50px;}
    .g-recaptcha {right: 27%!important; }
    #button-reset {right: 13%!important;}
} 
/*.webkit #Adresses { margin-top: -49.4% !important;}
.gecko #Adresses {   margin-top: -44.5% !important;}
.ie #Adresses {    margin-top: -44% !important;}*/

/*@media (min-width: 768px) and (max-width: 991px) {
 #Adresses{ margin-top: -34.1% !important; }       
}*/
//margin-top: -22px;
/*@media (min-width: 768px) and (max-width: 768px) {
    #espritapp_gestionbundle_cgasociete_nbJourMaxCollecteDonnee{width:  55%!important; position: relative;      margin-left: 70px;margin-top: -22px;}
    #espritapp_gestionbundle_cgasociete_jourCollecteDonnee{width:  55%!important; position: relative;      margin-left: 70px;margin-top: -22px;}
}*/
#Informations{position: relative;}
#Paramètres{ position: relative;    margin-top: -10px;} 
#telfax{width: 50%;}
.telfaxAdresses{
    position:relative;
    margin-bottom:-5%;
}
#priseeffet{position: relative; margin-top: -21px;padding-top: 10px;    margin-bottom: -2%;}
#datePriseEffet{width: 20%;}
#button-reset{  
    position: absolute;
    top: 30%;
    right: 10%;}
/*.buttons{     position: absolute;    top: 30%;    right: 0%; width: 26.2%;// width: 20.5%;   }*/
.g-recaptcha{
    position: absolute;
    top: 20%;
    right: 30%;
}
.container{
    width :100% !important;
}
#button-submit{
    position: absolute;
    top: 30%;
    right: 0%;
}

#codeSocexisteerror{left: -10%;    position: relative;    margin-bottom: -10%;}
.box-header.with-border {  border-bottom: 1px solid #fff;}
.box { position: relative; border-radius: 3px; background: #ffffff; border-top: 3px solid #d2d6de; margin-bottom: 20px; width: 100%;box-shadow: 0 1px 1px rgba(0, 0, 0, 0);}
ol, ul {list-style: none;}
tr td a, tr td a:hover, tr td  a:active ,tr td  a:focus { outline: none!important; text-decoration: none!important; color:#000000 !important;}
.box.box-primary,.box-success,.box-info,.box-danger,.box-warning  {border-top-color: #f39c12 !important;} 
table tbody tr{ background-color: #fff !important;}
table tbody tr:hover{ background-color: #f9f9f9 !important;}
#espritapp_gestionbundle_cgasociete_nbJourMaxCollecteDonnee{width:  55%!important; position: absolute;/* top: 9%; */   right: -20%;}
#espritapp_gestionbundle_cgasociete_jourCollecteDonnee{width:  55%!important; position: absolute; /*top: 9%;*/    right: -20%;}
#espritapp_gestionbundle_cgasociete_carSeparateur{position: relative;margin-left: 17px;}
